/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	

/* Changing the main font and background colour */
body {
	font-family: "Anton", "Knewave", "Montserrat", sans-serif;
	color: black;
	background-color: white;
}

/* Navigation bar */
.navbar {
	background-color: #EDEDF4;
}

.nav-link {
	color: #5438DC;
}

.nav-link:hover {
    color: #EC763E;
	opacity: .9;
}

.nav-link:active {
	background-color: #5438DC;
	color: white;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 41.875%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-overlay-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-top: 10%;

}


/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.title-text
{
    font-family: "Anton", normal;
	color: #5438DC;
}

.title-text-white{
    font-family: "Anton", normal;
	color: white;
}


.body-special-text
{
	font-family: "Knewave", normal;
	color: black;
}

.body-text
{
	font-family: "Montserrat", normal;
	color: black;
}

.body-text-white
{
	font-family: "Montserrat", normal;
	color: white;
}

.btn-primary {
	background-color: #5438DC;
}

.btn-primary:hover {
    background-color: #EC763E;
	opacity: .9;
}






/* Typer effect Animation (adapted from https://www.codeply.com/go/orizmNWvT3/css-only-typing-animation-with-multiple-words*/
@media (max-width:768px) {
    h1 {
        font-size: 5rem;
    }
}

.text-typing, .text-nowrap {
    white-space:nowrap;
    display: block;
}


.typing-words span {
    text-indent: 0px;
    position: absolute;
	overflow: hidden;
	white-space: nowrap;
	color: #FFFFFF;
    visibility: hidden;
    border-right: 4px solid transparent;
    max-width: 32rem; /* width of widest string */
}
/* steps is number of chars-1 */
.typing-words span:nth-child(1) {
	animation: typing 0.7s steps(5), typingReverse 0.7s steps(5) 0.7s, blink-wait 1s step-end 1 1.4s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(2) { 
	animation: typing 0.7s steps(5) 2.4s, typingReverse 0.7s steps(5) 3.1s, blink-wait 1s step-end 1 3.8s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(3) { 
	animation: typing 0.7s steps(5) 4.8s, typingReverse 0.7s steps(5) 5.5s, blink-wait 1s step-end 1 6.2s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(4) { 
	animation: typing 0.7s steps(5) 7.2s, typingReverse 0.7s steps(5) 7.9s, blink-wait 1s step-end 1 8.5s, blink-caret 0.6s step-end infinite;
}
/* pause on last word, end cursor blink */
.typing-words span:nth-child(5) {  
	animation: blink-caret 0.6s step-end 7 9.5s, typing 1s steps(7) 9.5s forwards;
}

@keyframes typing {
    from { width: 0; visibility: hidden; }
    to { width: 100%; visibility: visible; color: #FFFFFF; }
}

@keyframes typingReverse {
    from { width: 100%; visibility: visible; color: #FFFFFF; }
    to { width: 0; }
}

@keyframes blink-wait {
    from, to { width: 0; visibility: hidden; }
    30%, 60% { width: 0px; visibility: visible; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #FFFFFF; }
}


.footer-color {
	background-color: #EDEDF4;
}



/* Services page - centred hero screenshot (adapted from https://getbootstrap.com/docs/5.3/examples/heroes/*/
      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

/* Services page - pricing (adapted from https://getbootstrap.com/docs/5.3/examples/pricing/*/

	.main-price-bg {
	background-color: #5438DC;
	color: white;
	}


	.container {
	  max-width: 1250px;
	}

	.pricing-header {
	  max-width: 700px;
	}


/* About us page - cards (adapted from https://getbootstrap.com/docs/5.3/examples/features/*/
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}










/* Contact us page - pricing (adapted from https://codepen.io/baahubali92/pen/oVGRYg/ */
.overlay {
    background-image: linear-gradient(to right, rgba(90, 100, 232, 0.9), rgba(84, 96, 234, 0.9));
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    padding: 110px 0;
}
.section-bg {
    background-size: cover;
    position: relative;
    background-position: left;
    z-index: 0;
    padding: 0;
    min-height: auto;
    overflow: hidden;
}
.contact-form {
    position: relative;
    padding: 45px 0 45px 60px;
}

.contact-form:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 10px 40px 40px rgba(0,0,0,.2);
    pointer-events: none;
    right: auto;
    width: 100vw;
}
.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.contact-form input {
    border: 0;
    background: transparent;

    display: block;
    width: 100%;
    min-height: 50px;
    padding: 11px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;

    background-color: transparent;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 2px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
}

.contact-form textarea {
    border: 0;
    background: transparent;
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 11px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;

    background-color: transparent;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 2px solid transparent;
    border-bottom-color: rgba(0,0,0,.1);
}
.contact-form input::placeholder {
  color:#222;
}
.contact-form textarea::placeholder {
  color:#222;

}
.contact-form input {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    height: 55px;
}
.contact-form input:hover, .contact-form input:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: rgb(254, 132, 111);

}
.contact-form textarea:hover, .contact-form textarea:focus{
  background: transparent; 
    outline: none;
  box-shadow: none;
     border: 2px solid transparent;
    border-bottom-color: rgb(254, 132, 111);

}


.taso-btn {
    background-color: #fff;
    margin: 25px 0;
    color: #214dcb;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.32);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.17);
}
.contact-info {
    padding: 0 30px 0px 0;
}

h2.contact-title {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.contact-info p {
    color: #ececec;
}

ul.contact-info {
    margin-top: 30px;
}

ul.contact-info li {
    margin-bottom: 22px;
}



ul.contact-info span {
    font-size: 20px;
    line-height: 26px;
}
ul.contact-info li {
    display: flex;
    width: 100%;
}

.info-left {
    width: 10%;
}

.info-left i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #ffffff;
	font-family: "Montserrat", normal;
}

.info-right h4 {
    color: white;
    font-size: 18px;
	font-family: "Montserrat", normal;
}
.contact-page .info-left i{
color: #FE846F;
}
.btn {
display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px 10px;
    font-size: 17px;
    line-height: 28px;
    border: 0px;
    border-radius: 10px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn-big {
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(45, 45, 45, 0.47843137254901963);
    box-shadow: 2px 5px 10px 0px rgba(45, 45, 45, 0.19);
    color: #fff !important;
    margin-right: 20px;
    background: #FE846F;
    transition: .2s;
    border: 2px solid #FE846F;
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
.contact-form {
    padding: 30px;
}
.contact-form:before {
    width: 100%;
}

}
