/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	
/* Changing the main font and background colour */

body {
	font-family: "Anton", "Knewave", "Montserrat", sans-serif;
	color: black;
	background-color: white;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #EDEDF4;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.title-text
{
    font-family: "Anton", normal;
	color: #5438DC;
}

.body-special-text
{
	font-family: "Knewave", normal;
	color: black;
}

.body-text
{
	font-family: "Montserrat", normal;
	color: black;
}

.heropanel--video {
    font-family:"Anton", normal;
    min-height:500px;
}

@keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-100%,0);
        opacity:0;
        transform:translate3d(0,-100%,0);
    }
	
    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
}

.heropanel--video {
    position: relative; /* Ensure relative positioning for absolute positioning of child elements */
}

.heropanel__content {
    position: absolute; /* Position the content absolutely relative to the header */
    bottom: 0; /* Align content to the bottom of the header */
    left: 0; /* Align content to the left of the header */
    padding: 20px; /* Add some padding to the content */
}

.heropanel__content h1 {
    margin: 0; /* Remove default margin */
    color: #fff; /* Set text color */
}

.heropanel__content h1 a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
}